/* TODO: REFACTOR && CLEANUP AFTER FINAL WIREFRAMES */
.market-view {
    .custom-search-sidebar {
        width: initial;
        min-width: initial;
        max-width: initial;
        .mat-list-base .mat-list-item {
            height: 36px;
        }
        .mat-checkbox {
            font-size: 14px;
        }
    }
    .action-toolbar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        min-height: 50px;
        .action-divider {
            padding: 0 15px;
            margin-left: 12px;
            display: inline-block;
            border-left: 1px solid rgba(0, 0, 0, 0.15);
        }
    }
}
