.market-view {
    .custom-search-sidebar {
        width: initial;
        min-width: initial;
        max-width: initial;

        .mat-list-base .mat-list-item {
            height: 36px;
        }
        .mat-checkbox {
            font-size: 14px;
        }
    }
    .ag-theme-material .ag-icon-checkbox-checked {
        color: #00abc7;
    }
}

.border {
    border: 1px solid lightsalmon;
}
.btn-fw {
    min-width: 85px;
}

.action-divider {
    padding: 0 15px;
    margin-left: 12px;
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

::ng-deep .ag-header, ::ng-deep .ag-header-row {
    height: 50px !important;
}