$primary-color: mat-color(map-get($theme, primary));
$accent-color: mat-color(map-get($theme, accent));

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';

/* TODO: REFACTOR && CLEANUP AFTER FINAL WIREFRAMES */
.ag-theme-material {
    font-family: $font-family;

    .ag-row-selected {
        background-color: #ffb745;
    }
    .ag-cell-range-selected-1:not(.ag-cell-focus),
    .ag-cell-range-selected {
        background-color: rgb(255, 215, 149);
    }

    .ag-header,
    .ag-header-row {
        height: 50px !important;
        font-family: $font-family;
    }

    .ag-tool-panel-wrapper,
    .ag-side-bar {
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    .ag-header-cell {
        color: #3c4252;
    }
}