// -----------------------------------------------------------------------------------------------------
// @ Display helpers
// -----------------------------------------------------------------------------------------------------
.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}
.border-dashed {
    border: 1px dashed red;
}