.page-layout > .header {
    height: 96px !important;
    min-height: 96px !important;
    max-height: 96px !important;
}

.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}