.page-layout > .header {
    height: 96px !important;
    min-height: 96px !important;
    max-height: 96px !important;
}

.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}

.success-snackbar {
    background-color: #4bbe72 !important;
    color: white !important;
}

.warn-snackbar {
    background-color: #ffbb33 !important;
    color: white !important;
}

.error-snackbar {
    background-color: #ff4444 !important;
    color: white !important;
}

.info-snackbar {
    background-color: #33b5e5 !important;
    color: white !important;
}