$width: 395px;

quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: $width;
    min-width: $width;
    max-width: $width;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
}

.quick-panel {
    width: $width;
    min-width: $width;
    max-width: $width;
}